@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css";

.cm-main-content{
    padding: 0;
}
#main-cont {
    background: #f3f3f3;
    padding: 2.1rem 1.04rem;
    min-height: calc(100vh - 48px - 56px);
}
.card{
    background: #fff;
    min-height: calc(100vh - 48px - 56px - 4.2rem);
}
.card .card-body {
    padding: 1.5rem 1.875rem;
}
.card .card-title {
    color: #4a4a4a;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: bold;
}
.card form.d-flex{
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: flex-end;
}

/* selectbox */
.cm-select-box{
    height: 40px;
    background-color: #f8f9fd;
    border: 1px solid #f3f3f3;
    font-size: 0.875rem;
}
.cm-select-box.selected{
    border-color: var(--disabled);
}
.cm-select-box .option-list{
    border-color: var(--disabled);
}
.cm-select-box .label::before{
    background-color: var(--default);
    border-color: var(--default)
}
.cm-table-wrap.fix-width .cm-table-cont{
    width: 100%;
    min-width: 1810px;
}

/* table */
.cm-table-cont .cm-th{
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    padding: 1.25rem 0.9375rem;
    font-weight: 400;
}
.cm-table-cont .cm-td{
    max-width: 400px;
    padding: 1.25rem 0.9375rem;
    font-size: 0.875rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cm-table-cont .cm-tr:nth-of-type(odd){
    background-color: #f3f3f3;
}

/* search-input-enter */
.cm-device-search{
    height: 40px;
    flex-wrap: wrap;
}
.cm-device-search .common-search-input{
    width: 100%;
    height: 40px;
    background-color: #f8f9fd;
    border: 1px solid #f3f3f3;
    font-weight: 400;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    padding: 0.5rem 0.81rem;
}
.cm-device-search .device-search-btn{
    border:0;
    color: #fff;
}
.cm-btn-gray-full{
    background: var(--default);
    color: #fff;
    border: 0;
}

/* modal */
.cm-modal-cont{
    height: 600px;
}
.cm-modal-cont .cm-modal-header h4{
    font-weight: 500;
    font-size: 1.4rem;
}
.cm-modal-cont .cm-modal-header .btn-close{
    border:0;
    font-size: 20px;
}
.cm-modal-cont .cm-modal-section p + p{
    margin-top: 8px;
}
.cm-modal-cont .cm-modal-section .txt-cont{
    height: 192px;
    overflow-y: auto;
}
.cm-modal-cont .cm-modal-section hr{
    width: 100%;
    height: 1px;
    border:0;
    background: #ccc;
    margin: 24px 0;
}

/* header */
.cm-header{
    border-bottom: 1px solid #e3e3d3;
}
.cm-header .cm-header-section{
    background: #fff;
}
.burger-btn > span{
    background-color: #343a40 !important;
}
.cm-header .cm-header-right-cont .p{
    color: #343a40;
}
.cm-header .cm-top-menu .cm-top-menu-ul .menu-list{
    color: #343a40;
}
.cm-header .cm-top-menu .cm-top-menu-ul .menu-list.selected,
.cm-header .cm-top-menu .cm-top-menu-ul .menu-list:hover {
    background: unset;
    color: var(--primary);
    font-weight: 500;
}

/* cm-left-nav */
.cm-left-nav .gnb-list.selected .icon,
.cm-left-nav .gnb-list.selected:hover .icon{
    background: unset;
}
.cm-left-nav .gnb-list .icon:before{
    font: 18px "Material Design Icons";
}

/* footer */
.cm-footer .cm-footer-section{
    background: #f3f3f3;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

@media screen and (max-width:1144px) {
    .card form.d-flex{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 1023px){
    #main-cont{
        padding: 4.4rem 1.04rem 0.8rem;
    }
    .card{
        min-height: calc(100vh - 48px - 56px - 5.2rem);
    }
    .cm-header .cm-top-menu{
        background: #fff;
    }

    /* cm-left-nav */
    .cm-left-nav:has(.nav-type-long){
        background: #f3f3f3;
    }
}
@media screen and (max-width: 767px){
    .pagination .paging-btn:has(.btn-page-prev) {
        margin: 0 !important;
    }
}
@media screen and (max-width:487px) {
    .cm-device-search{
        width: 100%;
        height: auto;
        justify-content: space-between;
    }
    .cm-select-box{
        width: 100% !important;
        min-width: unset !important;
    }
    .cm-device-search .common-search-input{
        width: 100% !important;
        margin-bottom: 4px;
    }
    .cm-device-search .device-search-btn{
        margin: 0;
        min-width: unset;
        width: 48%;
    }
    .cm-device-search .cm-btn-gray-full{
        width: 48%;
    }

    /* modal */
    .cm-modal-cont{
        height: 30rem;
        font-size: 12px;
    }
    .cm-modal-cont .cm-modal-header h4{
        font-size: 1.1rem;
    }
    .cm-modal-cont .cm-modal-section .txt-cont{
        height: 10rem;
    }

    /* footer */
    .cm-footer .cm-footer-section{
        padding: 1.3rem 1.1rem;
    }
}