
body {
    margin: 0;
    background-color: #171b20;
}
button,
a {
    outline: none;
}
input[type=text] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
input:focus {
    outline:none;
}
.num-text {
    font-family: 'Open Sans', sans-serif;
}
.monitoring_text {
    font-family: 'Iceberg', cursive;
}
.han_text {
    font-family: 'Noto Sans KR', sans-serif;
}
.pet_container {
    max-width: 1920px;
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* login */
.login_container {
    background: #171b20;
    position: relative;
}
.login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.login_form p {
    width: 345px;
}
.login_form p img {
    width: 100%;
}
.login_form p.login_subTit {
    margin-top: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}
.login_input {
    margin-top: 100px;
    text-align: left;
}
.login_input label {
    display: block;
    margin-top: 60px;
    width: 345px;
    overflow: hidden;
}
.login_input label:first-child {
    margin-top: 0;
}
.login_input input[type=text],
.login_input input[type=password] {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 52px;
    line-height: 50px;
    border: 0;
    border-bottom: 1px solid #c8c8c8;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    color: #c8c8c8;
}
.login_input input::placeholder {
    color: #c8c8c8;
}
.login_input .login_btn {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 100px auto 0;
    width: 345px;
    height: 60px;
    line-height: 60px;
    border: 0;
    font-size: 20px;
    color: #171b20;
    padding: 0;
    background-color: #ffffff;
}
.login_input .custom_checkbox {
    margin-top: 20px
}

/* custom_checkbox */
.custom_checkbox {
    display: block;
}
.custom_checkbox input[type=checkbox] {
    display: none;
    width: 1px;
    height: 1px;
}
.custom_checkbox i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/assets/images/theme/default/checkbox_nocheck.png') no-repeat left top;
    vertical-align: top;
}
.custom_checkbox input[type=checkbox]:checked+i {
    background-image: url('/assets/images/theme/default/checkbox_checked.png')
}
.custom_checkbox span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    padding-left: 10px;
    font-weight: 300;
    color: #fff;
}
/* header */

header {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #0d1f2f;
    box-shadow: 3px 0 9px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
header::after {
    content: '';
    display: block;
    clear: both;
}
header h1 {
    margin: 0;
    padding-left: 70px;
    padding-top: 20px;
    float: left;
}
header h1 img {
    vertical-align: top;
}
header .right_info_warp {
    float: right;
    padding-right: 70px;
    padding-top: 9px;
    height: 61px;
    line-height: 61px;
}
header .right_info_warp p {
    display: inline-block;
    padding-right: 22px;
    height: 40px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    vertical-align: top;
}
header .right_info_warp p span {
    padding-left: 23px;
}
header .right_info_warp button {
    border: 2px solid #53606c;
    border-radius: 5px;
    width: 154px;
    height: 40px;
    line-height: 38px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    background: none;
    margin: 0;
    vertical-align: top;
    color: #fff;
    padding: 0;
}
/* main_container */

.main_container {
    padding: 0;
}
.main_container::after {
    content: '';
    display: block;
    clear: both;
}
.row > div {
    padding: 0 10px;
}
/* nav */

nav {
    float: left;
    width: 200px;
    height: calc(100vh - 61px);
    background: #0d1f2f;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative
}
nav::after {
    content: '';
    display: block;
    width: 79px;
    height: 17px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: url(/assets/images/theme/default/logo_seers.png) no-repeat left top;
}
nav ul {
    padding: 40px 0;
    background: #06101a;
}
nav ul li {
    height: 70px;
    line-height: 70px;
    list-style: none;
    text-align: center;
    position: relative;
}
nav ul li a {
    color: #a5a6a8;
    font-size: 20px;
    position: relative;
    padding: 0 10px;
}
nav ul li a:hover,
nav ul li a.active {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover::before,
nav ul li a.active::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 3px;
    left: 0;
    background: #4cc4b2;
    z-index: 1;
}
nav ul li a span {
    position: relative;
    z-index: 2;
}
/* inner_container */

.inner_container {
    float: left;
    width: calc(100% - 200px);
    height: calc(100vh - 61px);
    overflow-x: hidden;
    overflow-y: auto;
    background: #e9ecf1;
    box-sizing: border-box;
    padding: 20px 15px 0;
}
.inner_container .row {
    margin: 0;
}
.badge_warp {
    padding-left: 20px;
    padding-bottom: 30px;
}
.badge_warp .badge {
    border: 2px solid #c8c8c8;
    background: #fff;
    font-size: 20px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 7px 13px 6px;
    margin-right: 10px;
    border-radius: 20px;
    font-weight: 400;
;
    min-width: 80px;
}
.badge_warp .badge.active {
    background: #000;
    color: #fff;
    border: 0;
}
/* data_board_warp_01 */

.row > div.data_board_warp_01 {
    margin: 5px;
    width: 410px;
    height: 185px;
    padding: 0
}
.data_board_warp_01 .data_header {
    background: rgb(47, 58, 70);
    padding: 0 10px;
    font-size: 18px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(180deg, rgba(47, 58, 70, 1) 0%, rgba(26, 35, 42, 1) 40%, rgba(38, 46, 56, 1) 100%);
    border-bottom: 2px solid #3e464f;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding-bottom: 2px;
}
.data_board_warp_01 .data_header .sex {
    padding: 0 18px 0 8px;
    vertical-align: top;
}
.data_board_warp_01 .data_header .sex img {
    margin-top: -3px;
}
.data_board_warp_01 .data_content {
    background: #06101a;
    border: 1px solid #414a55;
    border-bottom: 0;
    overflow: hidden;
}
.data_board_warp_01 .data_content .row {
    margin: 0;
}
.data_board_warp_01 .data_content dl {
    height: 72px;
    border-bottom: 1px solid #414a55;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
}
.data_board_warp_01 .data_content dl:nth-child(1),
.data_board_warp_01 .data_content dl:nth-child(3) {
    border-right: 1px solid #414a55
}
.data_board_warp_01 .data_content dl dt {
    padding-left: 10px;
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 72px;
}
.data_board_warp_01 .data_content dl dd {
    padding-right: 10px;
    float: right;
    font-size: 60px;
    color: #fff;
    line-height: 72px;
    font-family: 'Iceberg', cursive;
}
.data_board_warp_01 .data_content dl.hr_warp dt {
    color: #59dd44;
}
.data_board_warp_01 .data_content dl.hr_warp dd {
    color: #59dd44;
}
.data_board_warp_01 .data_content dl.activity_warp dt {
    color: #00a3ea;
}
.data_board_warp_01 .data_content dl.activity_warp dd {
    color: #00a3ea;
}
.data_board_warp_01 .data_content dl.temp_warp dt {
    color: #e6e610;
}
.data_board_warp_01 .data_content dl.temp_warp dd {
    color: #e6e610;
}
/* data_board_warp_02 */

.row {
    padding: 0;
    font-size: 0;
}
.row > div.data_board_warp_02 {
    padding: 0px;
    position: relative;
    width: 830px;
    height: 380px;
    margin: 5px;
}
.data_board_warp_02.error::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 830px;
    height: 380px;
    border: 3px solid #ff0000;
    z-index: 15;
    background: url(/assets/images/theme/default/pet_ic_warning.png) no-repeat center center
}
.data_board_warp_02 .data_header {
    padding: 4px 0 4px 30px;
    background: #fff;
    position: relative;
    height: 68px;
    z-index: 2;
    border: 1px solid #dddcdd;
    border-bottom: 0;
}
.data_board_warp_02 .data_header span {
    line-height: 60px;
    font-size: 18px;
    color: #000;
}
.data_board_warp_02 .data_header span.name {
    padding-left: 20px;
}
.data_board_warp_02 .data_header span.number {
    padding-left: 20px;
}
.data_board_warp_02 .data_header .more_data_btn {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 45px;
    height: 30px;
    font-size: 0;
    text-indent: -9999px;
    border: none;
    transform: translateY(-50%);
    background: url('/assets/images/theme/default/pet_ic_more.png') no-repeat center top;
    padding: 0;
    background-size: contain;
    outline: none;
}
.data_board_warp_02 .data_header .more_data_btn.error {
    background-image: url('/assets/images/theme/default/pet_ic_device_warning.png');
}
.data_board_warp_02 .data_header .more_data {
    display: none;
    position: absolute;
    top: 40px;
    right: -5px;
    width: 265px;
    height: 166px;
    box-sizing: border-box;
    background: url('/assets/images/theme/default/pet_alert_popup_bg.png') no-repeat left top;
    padding: 17px 0 0 8px
}
.data_board_warp_02 .data_header .more_data dl {
    float: left;
    width: 120px;
    box-sizing: border-box;
    padding-left: 20px;
}
.data_board_warp_02 .data_header .more_data dl dt {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
}
.data_board_warp_02 .data_header .more_data dl dt.error {
    font-size: 18px;
    color: #ff0000;
}
.data_board_warp_02 .data_header .more_data dl dd {
    line-height: 25px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.data_board_warp_02 .data_header .more_data dl dd.error {
    font-size: 18px;
    color: #ff0000;
}
.data_board_warp_02 .data_content {
    background: #06101a;
    border: 1px solid #dddcdd;
    border-top: 0;
}
.data_board_warp_02 .data_content div.ews_warp,
.data_board_warp_02 .data_content div.activity_warp {
    border-right: 1px solid #dddcdd;
}
.data_board_warp_02 .data_content div.ews_warp,
.data_board_warp_02 .data_content div.hr_warp {
    border-bottom: 1px solid #dddcdd;
}
.data_board_warp_02 .data_content div {
    padding: 0;
}
.data_board_warp_02 .data_content .title {
    height: 47px;
    line-height: 46px;
    border-bottom: 1px solid #1f2831;
    color: #fff;
    padding-left: 19px;
    font-size: 20px;
    margin: 0;
}
.data_board_warp_02 .data_content .chart_warp {
    height: 105px;
}
.data_board_warp_02 .data_content .number {
    height: 154px;
    line-height: 154px;
    text-align: right;
    font-size: 90px;
    color: #fff;
    font-family: 'Iceberg', cursive;
    padding-right: 20px;
    margin: 0;
    border-left: 1px solid #1f2831;
}
.data_board_warp_02 .data_content .hr_warp .title {
    color: #59dd44;
}
.data_board_warp_02 .data_content .hr_warp .number {
    color: #59dd44;
}
.data_board_warp_02 .data_content .activity_warp .title {
    color: #00a3ea;
}
.data_board_warp_02 .data_content .activity_warp .number {
    color: #00a3ea;
}
.data_board_warp_02 .data_content .temp_warp .title {
    color: #e6e610;
}
.data_board_warp_02 .data_content .temp_warp .number {
    color: #e6e610;
}
/* info_warp */

.row > .infomation {
    padding: 0;
}
.row > .infomation > div {
    padding: 0 5px;
}
.info_warp {
    height: 135px;
    border: 2px solid #dddcdd;
    background: #fff;
    font-size: 0;
}
.info_warp .out_btn {
    display: inline-block;
    width: 90px;
    background: #f5f6f8;
    border: 0;
    height: 131px;
    padding: 0;
    border-right: 2px solid #dddcdd;
    vertical-align: top;
    box-sizing: border-box;
}
.info_warp .out_btn span {
    display: block;
    font-size: 16px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 20px;
}
.name_info {
    display: inline-block;
    width: calc(100% - 470px);
    background: none;
    border: 0;
    height: 135px;
    line-height: 135px;
    box-sizing: padding-box;
    padding: 0 20px;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    vertical-align: top;
}
.name_info .number {
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
.info_text {
    display: inline-block;
    width: 190px;
    height: 135px;
    vertical-align: top;
    box-sizing: border-box;
}
.info_text.info_text_01 {
    border-left: 2px solid #dddcdd;
    border-right: 1px solid #dddcdd;
}
.info_text p {
    height: 37px;
    line-height: 37px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 22px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 1px solid #dddcdd;
    margin: 0;
}
.info_text ul {
    padding-left: 20px;
    padding-top: 5px;
}
.info_text ul li {
    font-size: 18px;
    line-height: 28px;
    list-style: none;
}
/* heart_rate */

.heart_rate {
    margin-top: 10px;
    border: 2px solid #dddcdd;
    background: #fff;
}
.heart_rate .title {
    height: 47px;
    line-height: 47px;
    background: #fff;
    border-bottom: 2px solid #dddcdd;
    padding-left: 30px;
    margin: 0;
}
.heart_rate .title span {
    padding-left: 10px;
}
.heart_rate .chart_01 {
    height: 210px;
    border-bottom: 1px solid #dddcdd;
}
.heart_rate .chart_01 > div {
    padding: 0;
    height: 100%;
    background: #06101a
}
.heart_rate .chart_01 .chart_warp {
    height: 100%;
    background-repeat: no-repeat;
}
.heart_rate .chart_01 .number_warp {
    border-left: 1px solid #dddcdd
}
.heart_rate .chart_01 .number_01 {
    text-align: center;
    font-size: 45px;
    color: #59dd44;
    font-family: 'Iceberg', cursive;
    line-height: 32px;
    padding: 40px 0 30px
}
.heart_rate .chart_01 .number_02 {
    text-align: center;
    font-size: 100px;
    color: #59dd44;
    font-family: 'Iceberg', cursive;
    line-height: 52px;
}
/* history */

.row > div.history_warp {
    padding: 0 5px;
}
.history {
    background: #fff;
    border: 2px solid #d3d1d1
}
.history_head {
    height: 47px;
    line-height: 47px;
    border-bottom: 1px solid #dddcdd
}
.history_head p {
    padding-left: 17px;
    font-size: 22px;
    font-weight: 400;
}
.history_content {
    height: 565px;
    box-sizing: border-box;
    padding: 20px 0 20px 8px;
    overflow: auto;
}
.history_content ul {
    padding: 0;
}
.history_content li {
    font-size: 18px;
    line-height: 28px;
    list-style-type: none;
    font-weight: 400;
}
/* chart_content */

.chart_content {
    margin-top: 10px;
    overflow: hidden;
    padding: 0 5px;
}
.chart_content > div {
    padding: 0;
    border: 2px solid #dddcdd;
    border-left: 0;
}
.chart_content > div.ews_chart {
    border-left: 2px solid #dddcdd;
}
.chart_content .chart_head {
    height: 48px;
    line-height: 48px;
    background: #fff;
    padding-left: 20px;
    font-size: 22px;
    margin: 0;
}
.chart_content .chart_head p {
    margin: 0;
    line-height: 48px;
    height: 48px;
}
.chart_content .chart_head span {
    display: inline-block;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    height: 48px;
    line-height: 48px;
    vertical-align: top;
}
.chart_warp {
    height: 186px;
}
/* setting_warp */

.inner_container.setting {
    padding: 35px 0 0 20px;
}
.setting_warp {} .tab_button {
                     margin-bottom: 25px;
                     padding-left: 45px;
                 }
.tab_button button {
    border: 0;
    background: none;
    padding: 0 14px;
    margin-right: 30px;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.tab_button button.active {
    border-bottom: 4px solid #0d1f2f
}
.table_content {
    border-top: 1px solid #ddd;
    padding-left: 30px;
}
.data_control {
    height: 53px;
    line-height: 53px;
    max-width: 1500px;
}
.data_control::after {
    content: '';
    display: block;
    clear: both;
}
.data_control p {
    float: left;
    height: 53px;
    line-height: 53px;
    margin: 0;
    padding-left: 20px;
}
.data_control p label {
    height: 53px;
    line-height: 53px;
}
.data_control p label input {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0;
}
.data_control p span {
    display: inline-block;
    font-size: 20px;
    color: #000;
    vertical-align: top;
    height: 53px;
    line-height: 53px;
    padding: 2px 0 0 15px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}
.data_control .right_control {
    float: right;
}
.data_control .right_control .btn_add {
    background: none;
    border: 0;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    vertical-align: top;
    padding: 0 10px;
    height: 53px;
    line-height: 51px;
}
.data_control .right_control .btn_add img {
    margin-top: -2px;
}
.data_control .custom_select {
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.data_control .custom_select > button {
    display: inline-block;
    width: 150px;
    height: 53px;
    line-height: 51px;
    padding: 0;
    background: none;
    border: 0;
    font-size: 0;
}
.data_control .custom_select > button span {
    display: inline-block;
    width: 105px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 51px;
    vertical-align: top;
}
.custom_select ul {
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    border: 2px solid #c8c8c8;
    background: #fff;
    padding: 0;
    box-sizing: border-box;
}
.custom_select ul li {
    list-style: none;
}
.custom_select ul li button {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.custom_select ul li.active button {
    color: #007fd8;
}
.custom_select ul li button:hover {
    outline:none;
    color: #cccccc;
}
.data_table {
    background: #fff;
    max-width: 1500px;
    width: 100%;
;
}
.data_table td {
    height: 48px;
    border-bottom: 2px solid #e9ecf1;
    margin: 0;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}
.data_table td.check {
    padding-left: 20px;
    text-align: left;
}
.data_table td.check label {
    margin: 0;
}
.data_table td.check label input {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0;
}
.data_table td.check label span {
    display: inline-block;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    vertical-align: top;
    padding: 0 0 0 15px;
    font-weight: 400;
}
.data_table td.title {
    padding-left: 65px;
    text-align: left;
}
.data_table td.title a {
    color: #000;
}
.data_table td.wait {
    color: #007fd8;
}
.data_table td.ing {
    color: #ff0000
}
.data_table td.btns {
    font-size: 0;
}
.data_table td button {
    border: 0;
    background: none;
    font-size: 20px;
}
.data_table td.btns span {
    padding: 0 10px;
    font-size: 15px;
    color: #a0a0a0;
}
/* pagination */

.paging {
    text-align: center;
    margin: 25px auto;
}
.pagination {
    margin: 0px auto;
}
.paging .pagination>li>a {
    width: 50px;
    height: 50px;
    background: none;
    padding: 0;
    line-height: 50px;
    border: 0;
    margin-left: 3px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    box-sizing: border-box;
    position: relative;
;
}
.paging .pagination>li>a:hover:after,
.paging .pagination>li>a.active:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #a0a0a0;
    border-radius: 5px;
}
.paging .pagination>li>a.active:after {
    border: 2px solid #000;
}

/* layer_popup */
.layer_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}
.layer_popup_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 40px;
    background: #fff;
    width: 600px;
    box-sizing: border-box;
}
.layer_popup_container .layer_popup_header {
    min-height: 16.42857143px;
    padding-bottom: 30px;
}
.layer_popup_container .layer_popup-header .close {
    margin-top: -2px;
}
.layer_popup_container .layer_popup-header .modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.data_item {
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    font-size: 0;
    position: relative;
}
.data_item:first-child {
    margin-top: 0;
}
.data_item .title {
    display: inline-block;
    width: 125px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding-bottom: 1px;
}
.data_item .custom_select {
    display: inline-block;
    width: calc(100% - 125px);
    position: relative;
    z-index: 1;
}
.data_item .custom_select span {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    vertical-align: top;
}
.data_item .custom_select button {
    width: 100%;
    background: none;
    border: 1px solid #c8c8c8;
    padding: 0 14px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    height: 50px;
    line-height: 48px;
}
.data_item .custom_select button img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.data_item input {
    border: 0;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    text-indent: 12px;
}
.data_item.item_02 .title {
    border-bottom: 1px solid #ddd;
}
.data_item.item_02 input {
    width: calc(100% - 125px);
}
.data_item.item_02 input.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.invalid-feedback {
    width: 100%;
    margin-top: 1rem;
    font-size: 80%;
    color: #dc3545;
}

.setting_value {
    padding-top: 50px;
}
.setting_value .sub_title {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
}
.data_item.item_03 input {
    width: 170px;
}
.data_item.item_03 span {
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
}
.data_item.item_03 .btn_sucess {
    width: 90px;
    line-height: 1;
    padding: 17px 0;
    margin-left: 20px;
    border: 0;
    box-sizing: border-box;
    background: #0d1f2f;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff
}
.data_item.item_04 input {
    width: 260px;
}
.data_item.item_04 input:first-child {
    width: 130px;
}
.data_item.item_04 .title {
    border-bottom: 1px solid #ddd;
}
.data_item.item_04 .btn_sucess {
    width: 90px;
    line-height: 1;
    padding: 17px 0;
    margin-left: 20px;
    border: 0;
    box-sizing: border-box;
    background: #0d1f2f;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}
.data_item.item_04 .btn_delete {
    position: absolute;
    top: 50%;
    left: 350px;
    transform: translateY(-50%);
    border: 0;
    background: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
}
.setting_value .btn_warp {
    margin-top: 30px;
}
.setting_value .btn_warp button {
    border: 0;
    background: none;
    padding: 0 10px;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
.setting_value .btn_warp button:first-child {
    margin-left: 0;
}
.setting_value .btn_warp button.no_confirm {
    color: #ff0000;
}
.setting_value .btn_warp button.yes_confirm {
    color: #007fd8;
}
.popup_submit {
    margin-top: 80px;
    text-align: right;
}
.popup_submit button {
    border: 0;
    background: none;
    padding: 0 10px;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
.popup_submit button.submit {
    color: #007fd8;
}